header {
    padding: 1em;
    margin: 1em;
    background-color: #000000;
    -webkit-text-fill-color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.Instructions {
    padding: 1em;
    margin: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.startBtn button {
    background-color: #0c2d6b;
    height: 4em;
    width: 6em;
    font-size: large;
    -webkit-text-fill-color: blanchedalmond;
}

.startBtn {
    display: flex;
    justify-content: center;
}

.Scorecard {
    border-radius: 10%;
    background-color: rgb(168, 167, 165);
    width: 20%;
    height: 20%;
    margin: 0.5em;
    padding: 0.5em;
}

.card {
    background-color: rgb(168, 167, 165);
    border-color: #000000;
    border-radius: 10%;
    margin: 0.5em;
    padding: 0.5em;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Timing {
    font-size: 1.6em;
}

.container {
    padding-top: 2em;
    padding-bottom: 6em;
    padding-left: 10em;
    padding-right: 5em;
    margin: 1em;
    width: 40em;
    height: 20em;
    -webkit-text-fill-color: aliceblue;
    background-color: rgb(12, 99, 107);
}


.btn-group {
    justify-content: center;
    align-items: center;
}

.check {
    padding: 0.5em;
    margin: 0.5em;
    font-size: medium;
}

.question {
    font-size: 1.5em;
}

.btn-group button {
    background-color: rgb(33, 169, 153);
    width: 40em;
    height: 5em;
    text-align: left;
}

footer {
    text-align: center;
}

@media screen and (max-width: 481px) and (orientation: landscape) {
    .Instructions .startBtn .Scorecard {
flex: 50%;
}
}

@media screen and (max-width: 320px) and (orientation: portrait) {
    .Instructions .startBtn .Scorecard {
        flex: 50%;
    }

    main {
        flex-wrap: wrap;
    }

    .btn-group {
        text-size-adjust: 30%;
    }
}